body{
    background: rgb(9,205,230);
    background: linear-gradient(90deg, rgba(9,205,230,1) 0%, rgba(135,206,250,1) 100%);
    font-family: 'Roboto Condensed', sans-serif;
    color: #FFE4E1;

}
.nac {

    font-size: 70px;
    margin-top:10px ;
    margin-left: 0px;
}
.zc{
    font-size: 40px;


}
.rt{
    font-size: 25px;

}

a {
    text-decoration: none;
    display: inline-block;
    padding: 5px 10px;
    letter-spacing: 1px;
    margin: 0 20px;

    color: #FFE4E1;
    transition: .3s ease-in-out;
}
.nac {

    position: relative;
}
.nac {
    text-shadow: 1px 1px white, 2px 2px #6A5F55;
}
.nac:hover {
    text-shadow: 1px 1px 1px #6A5F55;
}
.imk{
    height: 500px;
    width: 1000px;

}

.noi{
    color: bisque;
    font-size: 30px;
}


.container{
   height: auto;
    width: auto;
    background: black;
    font-size: 20px;
}
.fo{
    margin-left: 1000px;
}